<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
      <div class="mt-4">
        <%= link_to "The secret of getting ahead is getting started", new_article_path, class: "btn btn-outline-warning btn-block"%>
      </div>
        <div class="flickr_pagination mt-4">
          <%= will_paginate @articles, :container => false %>
        </div>
        <%= render 'article' %>
        <div class="flickr_pagination m-4">
          <%= will_paginate @articles, :container => false %>
        </div>
      </div>
    </div>    
  </div>
</body>
</html>