<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Article</title>
</head>
<body>
  <h1>Create New Article</h1>
  <%= render 'form'%>
  <%= link_to 'Return to listing', articles_path%>
</body>
</html>