<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article</title>
  </head>
  <body>
    <h1>Showing Article Details</h1>
    <p><strong>Title: <%= @article.title%></strong></p>
    <p><strong>Description: <%= @article.description%></strong></p>
  </body>
</html>