<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New User</title>
</head>
<body id="page-content">
  <h1 class="text-center text-warning pt-4">Let's get you started</h1>
  <%= render 'form'%>
</body>
</html>