<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
</head>
<body>
  <div class="page-content">
    <p>About Page</p>
    <%= link_to 'Articles listing', articles_path%> |
    <%= link_to 'Home page', root_path%>
  </div>
</body>
</html>