<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <div class="jumbotron-home text-center">
    <h1 class="display-4">parK Blog</h1>
    <p class="lead">You can make anything by writing</p>
    <hr class="my-4">
    <p>Start before you're ready</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-secondary btn-lg" %>
  </div>
</body>
</html>