@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: #141414;
}

.nav-item a, .navbar-brand {
  color:  rgb(216, 216, 29);
}

.jumbotron {
  color: rgb(216, 216, 29);
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  background-color: rgb(32, 32, 32);
  background-image: asset-url('jumbotron.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  height: 100vh;
}

.jumbotron p {
  color: rgb(187, 187, 187);
}

.footer {
  background-color: #141414;
  color: rgb(187, 187, 187)
}